
<div class="form-group mb-4">
  <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
  <button class = "btn_ref" type="button" (click)="getallAfterRefresh()" name="button"><i class="fa fa-refresh"></i></button>
</div>
<div>
  <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
<table class="table table-striped" style="width: 80%;margin-left: 100px;" *ngIf="(userDetail | filter: searchText).length > 0; else noResults">
  <thead>
    <tr>
      <th scope="col">Row</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userDetail | filter: searchText; let i = index">
      <th scope="row">{{i + 1}} </th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
      <td>  <button class="btn" (click)="onClickEditUserDetail(user.id)"><i class="fa fa-pencil"></i></button></td>
      <td><button class="btn" (click)="onClickUserDelete(user.id)"><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>
<ng-template #noResults>
  <p>No results found for "{{searchText}}".</p>
</ng-template>
</div>
